In [12]:
pip install nbimporter

Requirement already satisfied: nbimporter in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (0.3.4)
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install nbformat

Requirement already satisfied: nbformat in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from nbformat) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from jsonschema>=2.6->nbformat) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from jsonschema>=2.6->nbformat) (0.20.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.2)
Requirement already satisfied: pywin32>=300 in c:\users\t-gamer\desktop\test\gthc_credito\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import nbformat
# Função para importar uma célula de código do notebook
def import_from_notebook(notebook_path, cell_index):
    with open(notebook_path, 'r') as f:
        notebook = nbformat.read(f, as_version=4)
    code = notebook.cells[cell_index].source
    exec(code, globals())

# Caminho para o notebook (ajuste conforme necessário)
notebook_path = r'../pipe/pipeline.ipynb'  # Usando uma string bruta

# Importa a célula de código que define o CustomTransformer
import_from_notebook(notebook_path, cell_index=0) 
import pickle

In [32]:
import pickle
import nbimporter
import sys
import os
#sys.path.insert(0, os.path.abspath('pipe'))
#from pipeline import CustomTransformer
# Carregue a pipeline a partir do arquivo .pkl
with open('pipeline_2.pkl', 'rb') as file:
    pipeline = pickle.load(file)

In [6]:
import pandas as pd

df = pd.read_csv("fraudValidate.csv")

In [7]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
df['dob'] = pd.to_datetime(df['dob'])
df = df.dropna()

In [24]:
def imprime_resultados(results):
  media=results['test_score'].mean()
  desvio_padrao= results['test_score'].std()
  print("accuracy %.4f" % (media*100))
  print("Accuracy com cross validation, 10 = [%.5f, %.5f]" % ((media - 2 * desvio_padrao)*100, media + 2 * desvio_padrao))

In [33]:
#EXTRAMAMENTE IMPORTANTE !!!!!!!!!!!!!!!!!!!
x = df.copy()
x.drop(columns=['is_fraud'])
y= df['is_fraud']

df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:04:42,3.007469e+13,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,...,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1325376282,37.162705,-100.15337,0

In [11]:
fraudes = df_resetado[df_resetado['is_fraud'] > 0]

# Exibir as linhas filtradas
fraudes

,Unnamed: 0.1,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
337,359,2449,2019-01-02 01:06:37,4.613315e+12,fraud_Rutherford-Mertz,grocery_pos,281.06,Jason,Murphy,M,...,35.9946,-81.7266,885,Soil scientist,1988-09-15,e8a81877ae9a0a7f883e15cb39dc4022,1325466397,36.430124,-81.179483,1
341,363,2472,2019-01-02 01:47:29,3.401870e+14,"fraud_Jenkins, Hauck and Friesen",gas_transport,11.52,Misty,Hart,F,...,29.4400,-98.4590,1595797,Horticultural consultant,1960-10-28,bc7d41c41103877b03232f03f1f8d3f5,1325468849,29.819364,-99.142791,1
350,372,2523,2019-01-02 03:05:23,3.401870e+14,fraud_Goodwin-Nitzsche,grocery_pos,276.31,Misty,Hart,F,...,29.4400,-98.4590,1595797,Horticultural consultant,1960-10-28,b98f12f4168391b2203238813df5aa8c,1325473523,29.273085,-98.836360,1
354,376,2546,2019-01-02 03:38:03,4.613315e+12,fraud_Erdman-Kertzmann,gas_transport,7.03,Jason,Murphy,M,...,35.9946,-81.7266,885,Soil scientist,1988-09-15,397894a5c4c02e3c61c784001f0f14e4,1325475483,35.909292,-82.091010,1
416,445,2937,2019-01-02 13:38:08,4.613315e+12,fraud_Medhurst PLC,shopping_net,844.80,Jason,Murphy,M,...,35.9946,-81.7266,885,Soil scientist,1988-09-15,248c2746e78f2ec713df51254ff1b302,1325511488,35.987802,-81.254332,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24142,26285,173701,2019-04-01 03:29:14,3.566095e+15,"fraud_Konopelski, Schneider and Hartmann",food_dining,128.49,Kristina,Stewart,F,...,34.3795,-118.5230,34882,Health physicist,1971-04-25,2331182a453d75300728eeb0f447a52c,1333250954,35.174848,-118.781514,1
24341,26500,175270,2019-04-01 16:45:54,6.597888e+15,fraud_Feil-Morar,health_fitness,19.30,Bill,Lane,M,...,33.6751,-98.6576,2317,Chief Technology Officer,1964-08-23,5f5458a5ed87650bceb6ea2e85fcb822,1333298754,33.397925,-98.153474,1
24471,26641,176168,2019-04-01 22:18:42,6.597888e+15,fraud_Dooley-Thompson,misc_net,773.40,Bill,Lane,M,...,33.6751,-98.6576,2317,Chief Technology Officer,1964-08-23,23a08de66e740a1c25d974330704636a,1333318722,33.010075,-98.457823,1
24472,26642,176171,2019-04-01 22:20:50,6.597888e+15,fraud_Bashirian Group,shopping_net,992.20,Bill,Lane,M,...,33.6751,-98.6576,2317,Chief Technology Officer,1964-08-23,966d6a2d0a3f172f240cc9601fe0c8e9,1333318850,34.070157,-98.519012,1
24514,26686,176473,2019-04-02 01:10:44,3.566095e+15,fraud_Rempel Inc,shopping_net,1038.29,Kristina,Stewart,F,...,34.3795,-118.5230,34882,Health physicist,1971-04-25,62c99b13837e643c164b6f8c14c6166b,1333329044,35.160525,-117.540395,1

In [12]:
df_resetado = df.reset_index(drop=True)

In [57]:
import numpy as np
import math
data = """Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,2019-01-01 00:04:42,30074693890476.0,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,Holcomb,KS,67851,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1325376282,37.162705,-100.15337"""

# Usando StringIO para simular um arquivo
url = StringIO(data)

df = pd.read_csv(url)
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
df['dob'] = pd.to_datetime(df['dob'])
df = df.dropna()
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,0,2019-01-01 00:04:42,3.007469e+13,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,...,67851,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1325376282,37.162705,-100.15337

In [55]:
def predict(classe_url):  
# Usando StringIO para simular um arquivo

    url = StringIO(classe_url)

    df = pd.read_csv(url)
    df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
    df['dob'] = pd.to_datetime(df['dob'])
    df = df.dropna()
    #url= url.model_dump()
    score= np.round(pipeline.predict_proba(df)[:1]*1000,0)
    return score
def get_prediction(classe_url):
    score = predict(classe_url)
    return {"Score":score}

In [63]:
predict("0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,0,2019-01-01 00:04:42,30074693890476.0,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,Holcomb,KS,67851,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1325376282,37.162705,-100.15337")

SyntaxError: unterminated string literal (detected at line 1) (2951011398.py, line 1)

In [ ]:
linha_5 = df.iloc[24471]
linha_5
linha_5 = pd.DataFrame([linha_5])
linha_5

In [59]:

previsoes = pipeline.predict(df)

# Adicionar as previsões ao DataFrame original
previsoes

array([0], dtype=int64)

In [122]:
# Converter números para strings e juntar com vírgulas
resultado = ', '.join(map(str, previsoes))
print(resultado)  
quantidade_de_uns = resultado.count('1')
print(f"Número de 1's na string: {quantidade_de_uns}")

1
Número de 1's na string: 1

In [28]:
from sklearn.model_selection import train_test_split
treino_x,teste_x,treino_y,teste_y= train_test_split(x,y,stratify=y,test_size=0.25)

In [29]:
print(pipeline.score(teste_x, teste_y))

0.996422096362732